/*
colors used:
Dark Blue (text): #122736
Dark Teal (Primary): #365C65
Warm Grey (background): #9FA6A1
Beige (background): #FFFCF2
Orange (accent): #EF8108
*/


* {
  box-sizing: border-box;
}

body {
  background-color: #FFFCF2;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #122736;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #ff7f50;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: #ff7f50;
}

a:hover {
  color: #cc6540;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #994c30;
}

a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}


.button {
  display: inline-block;
  background-color: #365C65;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #122736; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #EF8108;
  text-transform: uppercase;
  border: 2px solid #EF8108;
}
.button.contact:hover {
  background-color: #EF8108;
  color: #ffffff;
}

/* Layout styling */

header {
  background-color: #FFFCF2;
  padding: 10px 0;
  text-align: center;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
  -moz-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
  box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
  position: relative;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }

#hero h1 {
  text-align: center; /* Centers text */
}
#hero {
  background-color: #FFFCF2;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.logo {
  max-width: 150px;
  margin-top: 15px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #365C65;
}

nav > ul > li > a:visited {
  color: #365C65;
}

/* about page styling */
.aboutme h1 {
  text-align: center;
}
.abouttitle {
  text-align: center;
  padding: px 10;
  display: inline-block;
  width: 100%;
}

/*footer styling*/
#contact h2 {
  text-align: center;
}
#contact p {
  text-align: center;
}
