/*
colors used:
Dark Blue (text): #122736
Dark Teal (Primary): #365C65
Warm Grey (background): #9FA6A1
Beige (background): #F8FBE7
Orange (accent): #EF8108
*/


body {
  background-color: #F8FBE7;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #122736;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #ff7f50;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: #ff7f50;
}

a:hover {
  color: #cc6540;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #994c30;
}

a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}


.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #365C65;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #122736; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #EF8108;
  text-transform: uppercase;
  border: 2px solid #EF8108;
}
.button.contact:hover {
  background-color: #EF8108;
  color: #ffffff;
}
